BasedOnStyle: Google
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakAfterAttributes: Always
BinPackArguments: false
BinPackParameters: false
MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Linux

